* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Caveat", cursive;
}

body {
  background-color: #e6e5e3;
}

header {
  height: 130px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d1a2f;
}

header .hide {
  display: none;
}

header .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 200px;
  font-size: 20px;
}

header li {
  list-style: none;
  text-decoration: none;
}

header a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  padding: 2px;
  margin: 3px;
}

header a:hover {
  border: 1px solid #16db93;
  border-radius: 10px;
}

header .menu-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  -webkit-transition: all 0.5s easie-in-out;
  transition: all 0.5s easie-in-out;
}

header .menu-btn-burger {
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .menu-btn-burger::before,
header .menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .menu-btn-burger::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

header .menu-btn-burger::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

header .menu-btn.open .menu-btn-burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .menu-btn.open .menu-btn-burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

header .menu-btn.open .menu-btn-burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

#parawrapper {
  height: 100vh;
  display: inline-block;
}

.parahi {
  display: block;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 50px;
}

.para1 {
  display: inline-block;
  padding-left: 20px;
  font-size: 70px;
  width: 100%;
  line-height: 50pt;
  color: #16db93;
}

.fenn {
  color: #1d1a2f;
}

.para2 {
  display: block;
  font-size: 30px;
  padding-left: 20px;
  color: #16db93;
}

.social {
  padding-left: 40px;
  padding-top: 30px;
  height: 50vh;
  position: relative;
}

#insta {
  color: #1d1a2f;
  font-size: 40px;
  text-decoration: none;
}

#insta:hover {
  color: #16db93;
}

#github {
  color: #1d1a2f;
  font-size: 40px;
  text-decoration: none;
}

#github:hover {
  color: #16db93;
}

#mail {
  color: #1d1a2f;
  font-size: 40px;
  text-decoration: none;
}

#mail:hover {
  color: #16db93;
}

#linkedin {
  color: #1d1a2f;
  font-size: 40px;
  text-decoration: none;
}

#linkedin:hover {
  color: #16db93;
}

#chevron {
  font-size: 50px;
  color: #1d1a2f;
  float: left;
  position: absolute;
  left: 40px;
  bottom: 50px;
  text-decoration: none;
}

#chevron:hover {
  color: #16db93;
}

.bexface {
  height: auto;
  width: 260px;
  position: fixed;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.shrink {
  height: auto;
  width: 160px;
}

#aboutparent {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#chevronTwo {
  font-size: 50px;
  color: #1d1a2f;
  position: relative;
  bottom: 50px;
  left: 20px;
  text-decoration: none;
  z-index: 2;
}

#chevronTwo:hover {
  color: #16db93;
}

#about {
  background-color: white;
  height: 85vh;
  width: 85vw;
}

.cv {
  color: #16db93;
  text-decoration: none;
  font-size: 1em;
  padding: 0;
}

.aboutheading {
  color: #1d1a2f;
  text-decoration: underline;
  -webkit-text-decoration-color: #16db93;
          text-decoration-color: #16db93;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 14px;
}

.aboutpara {
  font-size: 22px;
  padding: 18px;
  color: #1d1a2f;
}

.skillSymbols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85vw;
  margin-top: 10px;
}

.fab {
  font-size: 40px;
  color: #1d1a2f;
}

.fab:hover {
  color: #16db93;
}

.bullets {
  padding: 20px 40px;
  font-size: 16px;
  width: 71vw;
}

.bullets li {
  list-style-type: circle;
}

.bullets li:hover {
  color: #16db93;
}

#projects {
  display: -ms-grid;
  display: grid;
}

.projects-grid {
  padding: 20px;
  margin: 15px 40px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  justify-items: center;
  background: white;
  width: 85vw;
  margin: 0 auto;
}

.projectsheading {
  background-color: white;
  width: 85vw;
  padding-bottom: 10px;
  margin: 0 auto;
  text-decoration: underline;
  -webkit-text-decoration-color: #16db93;
          text-decoration-color: #16db93;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}

.project {
  border-radius: 20px;
  height: 300px;
  width: 240px;
  background: #1d1a2f;
  position: relative;
}

.project h2 {
  font-size: 32px;
  text-align: center;
}

.project p {
  font-size: 20px;
  text-align: center;
}

.hover-image {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
}

.image {
  height: auto;
  width: 250px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 20px;
  height: 100%;
  width: 90%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #1d1a2f;
  border-radius: 20px;
}

.project:hover .overlay {
  opacity: 1;
}

#contact {
  width: 85vw;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: white;
}

#contact h1 {
  display: block;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  -webkit-text-decoration-color: #16db93;
          text-decoration-color: #16db93;
  margin-bottom: 40px;
}

#contact .contactarticle {
  margin-bottom: 40px;
}

#contact a {
  padding-left: 10px;
  color: #1d1a2f;
  font-size: 70px;
  text-decoration: none;
  padding-bottom: 40px;
}

#contact a:hover {
  color: #16db93;
}

#contact #flexcontacticons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact a {
  padding-left: 10px;
  color: #1d1a2f;
  font-size: 70px;
  text-decoration: none;
}

#contact a:hover {
  color: #16db93;
}

.totopdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.top {
  font-size: 12px;
  text-decoration: none;
  color: #1d1a2f;
  letter-spacing: 0.4em;
}

.top:hover {
  color: #16db93;
}

#chevronUp {
  font-size: 50px;
  color: #1d1a2f;
  text-decoration: none;
}

#chevronUp:hover {
  color: #16db93;
}

/* AFTER MEDIA QUERY FOR TABLET SIZE */
@media only screen and (min-width: 768px) {
  .parahi {
    font-size: 60px;
  }
  .para1 {
    font-size: 70px;
  }
  .para2 {
    font-size: 34px;
  }
  .bexface {
    height: auto;
    width: 340px;
  }
  .shrink {
    height: auto;
    width: 190px;
  }
  #about {
    background-color: white;
    height: 85vh;
    width: 85vw;
  }
  .aboutheading {
    font-size: 42px;
  }
  .aboutpara {
    font-size: 30px;
    padding: 24px;
  }
  .skillSymbols {
    width: 85vw;
    margin-top: 10px;
  }
  .fab {
    font-size: 60px;
  }
  .bullets {
    font-size: 26px;
  }
  #chevronTwo {
    font-size: 50px;
  }
  #parawrapper {
    padding-top: 90px;
  }
  .projectsheading {
    font-size: 42px;
  }
  #projects .projects-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  #contact h1 {
    font-size: 42px;
  }
}

/* AFTER MEDIA QUERY FOR  SIZE */
@media only screen and (min-width: 991px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    height: 150px;
    width: 100vw;
  }
  .show {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80px;
  }
  #parawrapper {
    height: 100vh;
  }
  #chevron {
    font-size: 70px;
  }
  .bexface {
    height: auto;
    width: 400px;
  }
  .shrink {
    height: auto;
    width: 280px;
  }
  #aboutparent {
    height: 100vh;
    width: 100vw;
  }
  .aboutheading {
    margin-top: 20px;
    font-size: 56px;
  }
  .aboutpara {
    font-size: 36px;
    padding: 46px;
  }
  .skillSymbols {
    margin-top: 0px;
  }
  .fab {
    font-size: 80px;
  }
  .bullets {
    margin-top: 30px;
    font-size: 32px;
    width: 75vw;
  }
  .projectsheading {
    font-size: 46px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  #projects .projects-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  #projects .projects-grid div {
    width: 280px;
    color: white;
  }
  #projects .projects-grid div h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #projects .projects-grid div p {
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }
  #contact h1 {
    font-size: 46px;
    margin-top: 60px;
  }
  #sayhi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
/*# sourceMappingURL=main.css.map */